// Top margin helpers
.margin-10-top{
    margin-top: 10px;
}

.margin-15-top{
    margin-top: 15px;
}

.margin-20-top{
    margin-top: 20px;
}

.margin-25-top{
    margin-top: 25px;
}

.margin-35-top{
    margin-top: 35px;
}

.margin-45-top{
    margin-top: 45px;
}

.margin-50-top{
    margin-top: 50px;
}

.margin-55-top{
    margin-top: 55px;
}

.margin-65-top{
    margin-top: 65px;
}

.margin-75-top{
    margin-top: 75px;
}

.margin-85-top{
    margin-top: 85px;
}

.margin-95-top{
    margin-top: 95px;
}

// Bottom margin helpers
.margin-5-bottom{
    margin-bottom: 5px;
}

.margin-10-bottom{
    margin-bottom: 10px;
}

.margin-15-bottom{
    margin-bottom: 15px;
}

.margin-25-bottom{
    margin-bottom: 25px;
}

.margin-35-bottom{
    margin-bottom: 35px;
}

.margin-45-bottom{
    margin-bottom: 45px;
}

.margin-55-bottom{
    margin-bottom: 55px;
}

.margin-65-bottom{
    margin-bottom: 65px;
}

.margin-75-bottom{
    margin-bottom: 65px;
}

.margin-85-bottom{
    margin-bottom: 85px;
}

// Right margin helpers
.margin-10-right{
    margin-right: 10px;
}

.margin-15-right{
    margin-right: 15px;
}

.margin-20-right{
    margin-right: 20px;
}

.margin-25-right{
    margin-right: 25px;
}

.margin-10-left{
    margin-left: 10px;
}

.margin-15-left{
    margin-left: 15px;
}

.margin-20-left{
    margin-left: 20px;
}

.hover:hover{
  cursor: pointer;
}

a:hover{
	cursor: pointer;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row-padded{
    padding-left: 25px;
    padding-right: 25px;
}

hr{ 
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 3px double #dadada; 
}

hr.dotted {
  border-top: 1px dashed #8c8b8b;
}

button{
    span{
        display: inline-block;
        vertical-align: center;
    }
}

.left-loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #2c3e50; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 25px;
    animation: spin 0.75s linear infinite;
}

.center-loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #2c3e50; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    animation: spin 0.75s linear infinite;
}

.large-center-loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #2c3e50; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 16px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}